#Which files need CRLF handling
* text=auto
*.sh eol=lf
*.bat eol=crlf
*.cmd text
*.opi text
*.c text
*.cpp text
*.h text
*.hpp text
*.java text
*.sh text eol=lf
*.db text
*.dbd text
*.template text
*.substitutions text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
